# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
single-HTTP/single-HTTP-debug
single-HTTP/single-HTTP-profile
single-HTTP/single-HTTP
single-HTTP/single-HTTP-cross

# Debug files
*.dSYM/
*.su

# Directories
testing/
logs/

# Databases
*.sqlite3

# Images
*.png
*.jpg
*.tiff
*.gif
*.bmp
*.jpeg
*.svg

# Audio
*.wav
*.flac
*.opus
*.mp3
*.aac
*.ogg
*.pcm
*.aiff
*.wma
*.alac

# Video
*.mp4
*.mov
*.avi
*.flv
*.wmv
